@media screen and (max-width: 600px) {
    .homemaindiv1 {
        width: 100%;
        height: 680px;
    }
    #navbar {
        position: relative;
    }
    #navbar h1 {
        margin-left: 30%;
    }
    #navbar ul li {
        width: 100%;
    }
    .showcase {
        margin-top: 0px;
    }
    .showcase h1 {
        
    }
    
    }